<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
<pre><%= @user.oauth_hash.to_yaml.gsub('\n', '<br>').html_safe %></pre>
</p>
