<footer>

  <div class="container">
    <p class="muted credits">
      <%= link_to 'Trello Track', 'https://github.com/majjacz/trello_track' %> by <%= link_to 'Majjacz', 'mailto:majjacz@gmail.com' %> &copy; <%= Date.today.year %>
    </p>
  </div>

</footer>
